
@font-face {
    font-family: "Roboto";
    src:  
      url("/fonts/Roboto-BlackItalic.ttf") format("truetype"),
      url("/fonts/Roboto-Bold.ttf ") format("truetype"),
      url("/fonts/Roboto-BoldItalic.ttf") format("truetype"), 
      url("/fonts/Roboto-Italic.ttf ") format("truetype"),
      url("/fonts/Roboto-Light.ttf ") format("truetype"),
      url("/fonts/Roboto-LightItalic.ttf ") format("truetype"),
      url("/fonts/Roboto-Medium.ttf ") format("truetype"),
      url("/fonts/Roboto-MediumItalic.ttf ") format("truetype"),
      url("/fonts/Roboto-Regular.ttf ") format("truetype"),
      url("/fonts/Roboto-Thin.ttf ") format("truetype"),
      url("/fonts/Roboto-ThinItalic.ttf") format("truetype"),
      url("/fonts/Roboto-Black.ttf") format("truetype");



    font-family: "PlayfairDisplaySC";
    src: url("/fonts/PlayfairDisplaySC-Black.ttf ") format("truetype"),
         url("/fonts/PlayfairDisplaySC-BlackItalic.ttf ") format("truetype"),
         url("/fonts/PlayfairDisplaySC-Bold.ttf ") format("truetype"),
         url("/fonts/PlayfairDisplaySC-BoldItalic.ttf ") format("truetype"),
         url("/fonts/PlayfairDisplaySC-Italic.ttf ") format("truetype"),
         url("/fonts/PlayfairDisplaySC-Regular.ttf ") format("truetype");
         


    font-family: "HammersmithOne-Regular";
    src: url("/fonts/HammersmithOne-Regular.ttf ") format("truetype");   
} 

.robototext {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;

}
.PlayfairDisplay {
    font-family: "RlayfairDisplaySC", serif;
    font-size: 1.5rem;
    font-weight: bold;

}
.HammersmithOne {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;

}


body {
    justify-content: center;
    font-size: 14px;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749);
    line-height: 1.571;
    margin: 0;
    
}

.container{
    padding: 0 21.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

a, a:active, a:hover{
    color: white;
    text-decoration: none;
}
a:active, a:hover{
    color: #00e0d0;
} 

.button{
        color: #00e0d0;
        border: 1px solid #00e0d0;
        border-radius: 2px;
        padding: .5em;
        font-family: "HammersmithOne-Regular" sans-serif;
      }
      
.hero{
    padding-bottom: 5rem;
    background-image: url(/images/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tajam {
    font-size: 2.1em;
    color: #3683a4;
    line-height: 1.2;
    line-height: 1.2;
    font-family: "Roboto", serif;
    font-weight: lighter;
  }

.main-logo{
    max-width: 44px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-logo img{
    width: 100%;
    height: auto;
    margin-right: .5em;
}

.navbar{
    list-style-type: none;
    display: flex;

}

.navbar li{
    margin-right: 1em;
}

.hero h1{
    font-size: 2.3em;
    font-family: "Playfair Display";
    color: white;
    line-height: 1.2;  
}

.hero div.container{
    text-align: center;
    display: block;  
}
hr{
        background-color: #c6c4c9;
        width: 50px;
        height: 1px;
}
.hero p{
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 1.714; 
        margin: 2em 0 5em;
}

.our-story{
   display:flex;
    margin:2rem 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
 .watch {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(/images/bgk-middle.png);
    height: 44vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
   
}
.watch h4{
    color: white;
    text-align: center; 
}
.small{
    display: block; 
    text-align: center; 
    
}

.expertise{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.expertise div.container{
    text-align: center;
    display: block;  
}

 h2{
    font-size: 1.5rem;
    font-family: "Playfair Display";
    color: rgb(65, 61, 75);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 4rem;
 }
 h4{
    font-size: 1rem;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;

}

 .expertise .container p{
    font-size: 1rem;
    font-family: "Playfair Display";
    color: rgba(47, 45, 53, 0.749);
    line-height: 1.2;
 }
 .expertise .container .grid-container .grid-item p{
    font-size: 1rem;
    font-family: "Roboto";
    color: rgba(51, 51, 51, 0.749); 
    line-height: 1.571;
 }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 3rem 0 6rem;
    
    
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid #ebebeb;
    padding: 5em;
    font-size: 2,2em;
    text-align: center;  
}
.last-item {
    border-right: none;
}

.bottom-item {
    border-top: 1px solid #ebebeb;
}

.team{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: center;
    background-image: url(/images/bgk-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
    padding-bottom:3rem;
    min-height: 400px;
}
 

.team .container{
    text-align: center;
    display: block;  
     
     
}

.team h3 {
    font-size: 2rem;
    color:white;
    font-family: "RlayfairDisplaySC", serif;
}
.team p {
    color:white;
    font-family: "RlayfairDisplaySC",  serif;
}

.team hr{
    background-color: grey;
    width: 50px;
    height: 1px;
}

.teamPictures {
    display:flex;
    justify-content: space-around;
   
    margin-right:18rem;
    margin-left:18rem;
     
}

.teamPictures img {
    width: 100%;
    height: auto;
    max-width: 20rem;
    max-height: 24rem;
}

.framesTeam{
    border:3px solid grey;
padding:0 0 0 0;
justify-content: space-around; 
gap: 2em;
margin: 1rem 2rem;
}

.framesTeam > h4{
    color:white;
    padding :0.1rem 1rem;
    font-family: "Roboto", serif;
    font-weight: lighter;
    
}

#team-button {
    align-self:center;
    justify-content: space-around;
    border: 1px solid #00e0d0;
    font-family: "HammersmithOne-Regular" sans-serif;
    font-size:1.5em;
}

.contact-client{
    display: flexbox;
}  

.contact-client .container {
    align-items: baseline;
    justify-content: center;
}
.column1{
    font-size: 30px; 
    padding: 1em 1em;
    font-size: 2,2em;
}
.mywidth {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 2px solid #ebebeb;
    color: rgba(12, 12, 12, 0.438);
    font-family: "Roboto", serif;
    font-weight: lighter;
    font-size: 1rem;
  }

   
}
.contact-client .container  h2{
    text-align: left;
}

.form{
    text-align: left;
}
.form input{
    font-family: "Roboto", serif;
    font-weight: lighter;
    font-size: 1rem;
}

.contact-client .container .column2 .grid-item{
    padding: 0.5rem;
    border: none;
}

.column2{
    display:grid;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;  
}


.footer{
    background-image: url(/images/bgk-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cls-1 {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
  }



.our-story {
     
    color:grey;
    display:flex;
     
margin: 5rem 18rem 5rem 18rem;
justify-content: space-between;
}

.Logo-story-left {
    width:240px;
    height:230px;
    margin-top: 1rem;
    
}

#container-sory-right{
    font-size: 1.5em;
    margin-left: 4rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    text-align: space;
}

#container-sory-right h3 {

font-family: "RlayfairDisplaySC" serif;
}

 

.LearnMore{
    border: 2px solid black;
    align-content:center;

}
#story-button {
border: 1px solid #00e0d0;
font-family: "HammersmithOne-Regular" sans-serif;
}

.footer .container {
    font-size: 1rem;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.footer .container .grid-container {
    margin: 0;
    padding: 3rem 0 3rem;
    grid-template-columns: 33% 33% 33%;
}

.footer .container .grid-container .grid-item {
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 1rem;
}

.footer-item {
    display: flex;
}

.location {
    max-width: 14px;
    max-height: 19px;
    width: 100%;
    height: auto;
    margin-top: 5px;
    padding-right: 1rem;
}

.phone {
    max-width: 17px;
    max-height: 17px;
    width: 100%;
    height: auto;
    padding-right: 1rem;
    margin-top: 5px;
}

.footer .container .grid-container .grid-item h4 {
    font-size: 1.07rem;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.733;
}

.about-us {
    text-align: left;
    margin-top: 0;
}

.contact {
    text-align: justify;
    margin-top: 0;
}

.email-newsletter{
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid white;
    width: 100%;
    min-width: 200px;
    height: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    color: white;
}

.email-newsletter ::placeholder {
    font-size: 1rem;
    font-family: "Roboto";   
}

.button-newsletter {
    background-image: url(/images/png/paper122.png);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    max-width: 60px;
    min-width: 40px;
    width: 100%;
}

.social-media {
    margin-top: 1rem;
}

.social-media img{
    margin-right: 0.3rem;
    width: 100%;
    height: auto;
    max-width: 30px;
    max-height: 30px;
}